@using Epam.NewsService.Dependencies

@{
    Layout = "~/Views/Layouts/_BasicLayout.cshtml";

    PageData["pageName"] = "Account creation";

    string emailInvalinMsg = "Please enter valid email!",
        firstNameInvalinMsg = "Please enter valid first name!",
        lastNameInvalinMsg = "Please enter valid last name!",
        passInvalinMsg = " Please enter valid password!";

    string email = Request["email"],
        password = Request["password"],
        firstname = Request["firstname"],
        lastname = Request["lastname"];

    bool isCreationError = false;

    if (User.Identity.IsAuthenticated)
    {
        Response.Redirect("/");
    }

    if (IsPost)
    {
        try
        {
            isCreationError = !DependencyResolver.Instance.UserLogic.AddUser(email, password, firstname, lastname, 0);
        }
        catch
        {
            Response.Redirect("~/Views/Pages/Error");
        }

        if (!isCreationError)
        {
            FormsAuthentication.SetAuthCookie(email, true);
            Response.Redirect("/");
        }
    }
}

<section class="vh-100 vw-100 d-flex justify-content-center align-items-center">
    <div class="container" style="width: 600px">
        <div class="fs-2 fw-bold mb-3">Account creation</div>
        <form class="needs-validation" action="~/Views/Pages/AccountCreation" method="post" novalidate>
            <div class="row mb-3">
                <div class="col form-floating">
                    <input name="firstname" value="" type="text" pattern="[A-Za-zА-Яа-я]{2,255}" class="form-control" id="firstname" placeholder="Firstname" required>
                    <label class="ps-4" for="firstname">First name</label>
                    <div class="invalid-feedback">
                        @firstNameInvalinMsg
                    </div>
                </div>
                <div class="col form-floating">
                    <input name="lastname" value="" type="text" pattern="[A-Za-zА-Яа-я]{2,255}" class="form-control" id="lastname" placeholder="Lastname" required>
                    <label class="ps-4" for="lastname">Last name</label>
                    <div class="invalid-feedback">
                        @lastNameInvalinMsg
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-7 form-floating">
                    <input name="email" value="" type="email" pattern="\w{1,}@("@")\w{1,}.\w{1,}" class="form-control" id="login" placeholder="name@example.com" required>
                    <label class="ps-4" for="login">Email address</label>
                    <div class="invalid-feedback">
                        @emailInvalinMsg
                    </div>
                </div>
                <div class="col form-floating">
                    <input name="password" value="" type="password" pattern="\w{5,15}" class="form-control" id="password" placeholder="123" required>
                    <label class="ps-4" for="password">Password</label>
                    <div class="invalid-feedback">
                        @passInvalinMsg
                    </div>
                </div>
            </div>
            <div class="mt-3">
                <button class="btn btn-dark" type="submit">Create</button>
            </div>
        </form>
    </div>

    @if (isCreationError)
    {
        <div class="toast align-items-center text-white bg-danger bottom-0 start-0 border-0 show m-4 position-absolute" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                    Creation account error!
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto toast-close-btn" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    }
</section>